<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/css/mv.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
    <title>个人中心</title>
</head>
<body>
<header th:replace="~{index :: header}"></header>
<main>
    <section class="py-3 bg-info">
        <div class="container">
            <div class="form-inline">
                <img class="mx-3 rounded-circle my-3" th:src="@{${#session.getAttribute('SPRING_SECURITY_CONTEXT').authentication.principal.avatar}}" data-src="holder.js/60x60" alt="头像">
                <h4 class="mx-2 my-3 inline text-white" th:text="${#session.getAttribute('SPRING_SECURITY_CONTEXT').authentication.principal.nickname}">淡淡的忧伤</h4>
                <a class="btn btn-danger btn-sm text-white my-3 mx-2" th:href="@{/logout}">退出登录</a>
            </div>
        </div>
    </section>
    <section class="py-3 bg-light">

        <div class="container">
            <h2 class="text-left py-3">我的VLOG</h2>
            <div class="row">

                <div class="col-md-4" th:each="video : ${videos}">
                    <div class="card mb-4 shadow-sm">
                        <div style="position: relative;">
                            <a th:href="@{'/video/'+${video.id}}">
                                <img class="card-img-top lazy-img" src="/img/loading.gif" th:lazyload="@{${video.cover}}" alt="Card image cap">
                            </a>
                            <div style="position: absolute; bottom: 0;" class="w-100 text-center text-white bg-info py-1" th:if="${video.status}==0">待审核</div>
                            <div style="position: absolute; bottom: 0;" class="w-100 text-center text-white bg-danger py-1" th:if="${video.status}==2">未通过</div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title line-limit-length" th:text="${video.title}">视频标题</h5>
                            <div class="row">
                                <div class="col-7">
                                    <p class="card-text"><small class="text-muted" th:text="${video.uploadTime.toString()}"></small></p>
                                </div>
                                <div class="col-5">
                                    <div class="float-right btn-group mr-1" role="group" aria-label="Basic example">
                                        <a th:href="@{'/user/video/'+${video.getId()}}"><button type="button" class="btn btn-primary btn-sm">编辑</button></a>
                                        <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#delVideoModal" th:vlog_title="${video.getTitle()}" th:vlog_id="${video.getId()}" onclick="deleteVideo(this)">删除</button>
                                        <!-- Button trigger modal -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
</main>

<!-- Modal -->
<div class="modal fade" id="delVideoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">删除 VLOG</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                确定删除【 <span id="del_vlog_title"></span> 】吗？
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-danger" id="sure_del_btn" onclick="delVideo(this)">确定</button>
            </div>
        </div>
    </div>
</div>

<script src="/js/jquery-3.3.1.min.js" th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script src="/js/popper.min.js" th:src="@{/js/popper.min.js}"></script>
<script src="/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<script src="/js/holder.min.js" th:src="@{/js/holder.min.js}"></script>
<script th:src="@{/js/lazyloadimg.js}"></script>
<script>
    function deleteVideo(el) {
        var vlog_id = $(el).attr('vlog_id');
        var vlog_title = $(el).attr('vlog_title');
        $('#del_vlog_title').text(vlog_title);
        $('#sure_del_btn').attr('del_video_id', vlog_id);
    }

    function delVideo(el) {
        var videoId = $(el).attr('del_video_id');
        $.ajax({
            url: "/user/video/"+videoId,
            type: "DELETE",
            success: function (result) {
                console.log(result);
                $("#delVideoModal").modal("hide");
                window.location.reload();
            }
        });
    }

    $(function () {
        $('.nav-item').removeClass('active');
        $('.nav-item:eq(-2)').addClass('active');
    });
</script>
</body>
</html>