<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/css/mv.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <title>关于</title>
</head>
<body style="background-color: #e9ecef">
<header th:replace="~{index :: header}"></header>
<main>
    <section class="py-3 bg-light mt-1">
        <div class="container">
            <div class="py-3">
                <h1>Hello, I'm Jelair Zhang</h1>
                <h4><span id="typemsg"></span></h4>
            </div>
            <div class="py-3">
                <h3>关于本站</h3>
                <p>本站只是作为学习和探索技术的一个实验性站点，请勿储存重要视频资料。</p>
            </div>
        </div>
    </section>

    <section class="py-3 bg-light mt-1">
        <div class="container">
            <h3>本站已完成的功能</h3>
            <ul class="list-group">
                <li class="list-group-item">用户登录认证和授权</li>
                <li class="list-group-item">用户角色（用户、管理员、系统管理员）</li>
                <li class="list-group-item">视频的上传</li>
                <li class="list-group-item">视频转码与截图</li>
                <li class="list-group-item">视频在线播放</li>
                <li class="list-group-item">视频播放次数统计</li>
                <li class="list-group-item">在线同时观看人数</li>
                <li class="list-group-item">视频信息修改和删除（操作前进行信息认证）</li>
                <li class="list-group-item">管理员视频审核</li>
                <li class="list-group-item">服务缓存</li>
                <li class="list-group-item">视频搜索</li>
                <li class="list-group-item">网页优化（图片懒加载）</li>
            </ul>
        </div>
    </section>

    <section class="py-3 bg-light mt-1">
        <div class="container">
            <h3>本站将添加的功能</h3>
            <ul class="list-group">

                <!--<li class="list-group-item">敏感词过滤</li>-->
                <!--<li class="list-group-item">用户发弹幕</li>-->
                <!--<li class="list-group-item">视频分页显示</li>-->
                <li class="list-group-item">用户头像自定义</li>
                <li class="list-group-item">用户资料管理与更新</li>
                <li class="list-group-item">访问用户资料页</li>
                <li class="list-group-item">用户之间订阅</li>
                <li class="list-group-item">推荐视频</li>
                <li class="list-group-item">视频Top榜</li>
                <li class="list-group-item">第三方登录入口接入（QQ、GitHub）</li>
                <li class="list-group-item">视频分类</li>
            </ul>
        </div>
    </section>
</main>
<footer th:replace="~{index :: footer}"></footer>
<script th:src="@{/js/typed.min.js}"></script>
<script th:src="@{/js/jquery-3.3.1.slim.min.js}"></script>
<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/holder.min.js}"></script>
<script>
    new Typed("#typemsg",{
        strings: ["I'm a software engineer.",'Computer Science and Algorithm.'],
        typeSpeed: 200,
        startDelay: 100,
        loop: true,
        loopCount: Infinity,
        showCursor: true,
        cursorChar: ' | ',
        autoInsertCss: true,
        fadeOut: true,
        fadeOutClass: 'typed-fade-out',
        fadeOutDelay: 500,
    });

    $(function () {
        $('.nav-item').removeClass('active');
        $('.nav-item:eq(-1)').addClass('active');
    });
</script>
</body>
</html>