<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>VLOG 注册</title>

    <!-- Bootstrap core CSS -->
    <link href="./asserts/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="./asserts/css/signin.css" th:href="@{/css/signin.css}" rel="stylesheet">
</head>

<body class="text-center">
<form class="form-signin" method="post" action="/register">
    <img class="mb-4" src="./asserts/img/bootstrap-solid.svg" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">VLOG 注册</h1>
    <label for="inputUsername" class="sr-only">用户名</label>
    <input type="text" name="username" id="inputUsername" class="form-control" placeholder="用户名" required autofocus>
    <label for="inputPassword" class="sr-only">密码</label>
    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="密码" required>
    <div th:if="${param.error}">
        <p style="text-align: center" class="text-danger">注册失败，账号已存在！</p>
    </div>
    <div th:if="${param.success}">
        <p style="text-align: center" class="text-success">注册成功，可以登录了！</p>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">注 册</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
</form>
</body>
</html>
